<nav class="navbar navbar-expand-lg navbar-light bg-light first-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Logo <span class="sr-only">(current)</span></a>
                </li>
          
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-right: 50px;">
                <input class="form-control mr-sm-2" type="search" placeholder="Ürün,marka ve kategori arayın" style="width:600px;" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
            </form>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-heart"></i>
                        <div>
                            Favoriler
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-shopping-bag" aria-hidden="true"></i>
                        <div>Sepetim</div>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <div>Giriş Yap</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<!--

<nav class="navbar navbar-expand-lg navbar-light  second-menu">
    <div class="container">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Yeni <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Başörtüsü</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Giyim</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Dış Giyim <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Büyük Beden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Spor/Deniz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Ayakkabı/Aksesuar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Tasarımcılar</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Abiyeler<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Outlet</a>
                </li>
            </ul>
        </div>
    </div>
</nav>-->
