@model List<Category>

<div class="navbar navbar-expand-lg navbar-light bg-light first-menu">
    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @foreach (var item in Model)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @item.CategoryName
                    </a>
                    <!--
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Yeni Elbiseler</a>
                        <a class="dropdown-item" href="#">Yeni Pantolonlar</a>
                        <a class="dropdown-item" href="#">Yeni Etekler</a>
                    </div>
                    -->
                </li>
            }
        </ul>
    </div>
</div>

@*@model string
        .Skip(0).Take(10)
    .Skip(10).Take(10)
    @Model*@
@*
    @model List<Category>

       @foreach (var item in Model)
       {
           <p>@item.CategoryName</p>
       }
*@

<!--

<li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Yeni
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Yeni Elbiseler</a>
                    <a class="dropdown-item" href="#">Yeni Pantolonlar</a>
                    <a class="dropdown-item" href="#">Yeni Etekler</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Giyim
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Elbise</a>
                    <a class="dropdown-item" href="#">Takım</a>
                    <a class="dropdown-item" href="#">Ceket</a>
                    <a class="dropdown-item" href="#">Kazak</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dış Giyim
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Trençkot</a>
                    <a class="dropdown-item" href="#">Kaban</a>
                    <a class="dropdown-item" href="#">Mont</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Spor
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Eşofman Takımı</a>
                    <a class="dropdown-item" href="#">Tişört</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ayakkabı
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Ayakkabı</a>
                    <a class="dropdown-item" href="#">Çanta</a>
                    <a class="dropdown-item" href="#">Aksesuar</a>
                </div>
            </li>

-->
