<div class="container-fluid>
    <div class="collapse navbar-collapse row">
        <div class="col-6">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        0850 333 64 72
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        Destek Hattı
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">
                        Kolay İade Merkezi
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-success my-2 my-sm-0" href="@Url.Action("Index","Login")" >Giriş Yap veya Üye Ol</a>
            </form>
        </div>
    </div>
</div>

